<mat-toolbar color="primary">
  <span>Memoria</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button color="accent" (click)="initiateGameRestart()">Reiniciar</button>
</mat-toolbar>
<app-fireworks  *ngIf="activateFireworks"></app-fireworks>
<mat-grid-list [cols]="cols" [rowHeight]="rowHeight" [gutterSize]="gutterSize">
  <mat-grid-tile *ngFor="let character of characters;">
   <app-card [cardData]=character></app-card>
  </mat-grid-tile>
</mat-grid-list>